body {
    background-color: #d9d9d9;
    font-family: "Lexend Deca";
    margin: 0;
}

.bg-adde86 {
    background-color: #adde86;
}

.table-auto {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}